[Unit]
Description=Launch skopos server
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/skopos

[Install]
WantedBy=multi-user.target
